<header>
    <!-- Aquí puedes agregar el contenido de tu encabezado, como el logotipo, menú de navegación, etc. -->
    <h1>Mi Página Web</h1>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#acerca">Acerca</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>