<!DOCTYPE html>
<html lang="en">
    <%- include("./includes/head.ejs") %>
    
<body>
    <%- include('./includes/header.ejs') %>
    <main>
        <form action="#" method="post">
            <input type="text" name="username" placeholder="Username" id="username" >
            <button type="submit">
                Ingresar
            </button>
        </form>
        <nav href="/register">
            Registrate
        </nav>
    </main>
</body>
</html>